<div class="row">
    <div class="col-lg-3 form-group">
        <h1>Addition</h1>
        <input class="form-control" type='text' id="name" [(ngModel)]="add1" name="add1">
        <h2>+</h2>
        <input class="form-control" type='text' id="name" [(ngModel)]="add2" name="add1">
    </div>
    <div class="col-lg-3 form-group">
        <h1>Substraction</h1>
        <input class="form-control" type='text' id="name" [(ngModel)]="sub1" name="add1">
        <h2>-</h2>
        <input class="form-control" type='text' id="name" [(ngModel)]="sub2" name="add1">
    </div>
    <div class="col-lg-3 form-group">
        <h1>Multiplication</h1>
        <input class="form-control" type='text' id="name" [(ngModel)]="mul1" name="add1">
        <h2>*</h2>
        <input class="form-control" type='text' id="name" [(ngModel)]="mul2" name="add1">
    </div>
    <div class="col-lg-3 form-group">
        <h1>Division</h1>
        <input class="form-control" type='text' id="name" [(ngModel)]="div1" name="add1">
        <h2>/</h2>
        <input class="form-control" type='text' id="name" [(ngModel)]="div2" name="add1">
    </div>
</div>
