<div class="row">
    <div class="col-lg-6">
        <form #heroForm="ngForm">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="name">User Name</label>
                    <input class="form-control" type='text' id="name" [(ngModel)]="userName" name="username">
                </div>
                <div class="col-md-6 form-group">
                    <label for="ingredients">Password</label>
                    <input class="form-control" type="text" id="password" [(ngModel)]="password" name="pass">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>{{ userName | userValidator:password }}</p>
    </div>
</div>
