<div class="row">
    <div class="col-lg-6">
        <form #heroForm="ngForm">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label for="name">User Name</label>
                    <input class="form-control" type='text' id="name" [(ngModel)]="userName" name="username">
                </div>
                <div class="col-md-6 form-group">
                    <label for="ingredients">Password</label>
                    <input class="form-control" type="text" id="password" [(ngModel)]="password" name="pass">
                </div>
            </div>
             <div class="row">
                <div class="col-lg-12">
                    <button class="btn btn-success me-1 mt-1" type="submit" (click)="transform()">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" *ngIf="flag; else done">
        <p>{{ message }}</p>
    </div>
    <ng-template #done>
        <p>{{ message }} <br>with User Name: <strong>{{ userName }}</strong> <br> on <strong>{{ date | date:"EEEE, MMMM d, y" | lowercase }}</strong> <br>at <strong>{{ date | date:"h:mm:ss a zzzz" | lowercase }}</strong></p>
   </ng-template>
</div>
